body
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F5F1E9;
    color: #3D3D3D;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #3D3D3D;
}
.back-btn {
    background-color: #D9D5C8;
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border: 1px solid #3D3D3D;
    border-radius: 5px;
    font-size: 20px;
}
table {
    width: 60%;
    text-align: center;
    margin: 0 auto 30px;
    font-size:20px;
    border-collapse: collapse;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #3D3D3D;
}