* {
    box-sizing: border-box;
}
/* ↑paddingやborderを横幅・高さに含めるプロパティ */

body
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F5F1E9;
    color: #3D3D3D;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #3D3D3D;
}

.input-area {
    width: 90%;
    margin: 5px auto 30px;
    padding: 20px;
    border: 1px solid  #3D3D3D;
    border-radius: 10px;
}

input {
    width: 100%;
    display: block;
    background-color: #E8E4D9;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid  #3D3D3D;
    font-size: 20px;
}

textarea {
    width: 100%;
    background-color: #E8E4D9;
    height: 100px;
    padding: 10px;
    border: 1px solid  #3D3D3D;
    resize: none;
    font-size: 20px;
}
button {
    background-color: #D9D5C8;
    border: 1px solid  #3D3D3D;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    text-align: center;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

.button-area {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.button-area button {
    border: 1px solid  #3D3D3D;
    border-radius: 5px;
    width: 48%;
    height: 60px;
    text-align: center;
    display: block;
    font-size: 20px;
    margin:20px;
}

footer {
    margin-top: 30px;
    border-top: 1px solid  #3D3D3D;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

#chart{
    width:100%;
    height:300px;
    display:block;
}

